.lorem-1{
    width: 400px;
    height: 200px;
    border: 5px solid gray;
    overflow: scroll;
}
.lorent30{
    width: 400px;
    height: 200px;
    border: 5px solid green;
}
.blog{
    width: 150px;
    height: 150px;
    border: 2px solid orange;
}
.uot{
    background-color: orchid;
}
.in{
    background-color: palegreen;
    transform:scale(.75) rotate(30deg);
    
}
.line{
    width: 150px;
    height: 150px;
    border: 5px solid orange;
    margin-top: 5%;
}